.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
}
.same-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.status-field {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: 120px;
}
